.messages-friends-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 3px solid springgreen;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    margin-top: 10px;
}

.messages-wrapper {
    border: 3px solid springgreen;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
}