.messages-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.messages-friends-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    margin-top: 15px;
}

.messages-friends-wrapper:hover {
    background-color: springgreen;
    transition: .2s;
}

.messages-wrapper {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
}

.no-messages {
    color: #fff;
}

.user-info-messages {
    display: flex;
}