.messages-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.messages-friends-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    margin-top: 15px;
}

.messages-friends-wrapper:hover {
    background-color: springgreen;
    transition: .2s;
}

.active {
    background-color: springgreen;
}

.messages-wrapper {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
}

.no-messages {
    color: #fff;
}

.user-info-messages {
    display: flex;
}

.selected-friend-container {
    display: flex;
    padding: 5px;
}

.dropdown-item:hover {
   background-color: springgreen;
   transition: .2s;
}

.message-modal-wrapper {
    border: 1px solid black;
    background-color: #fff;
    width: 50%;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}