body {
    background: #35373b;
    height: 100vh;
    width: 100%;
}

.home-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}