.Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.reg-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    z-index: 1;
}

.submit-reg {
    background: linear-gradient(45deg, #24ec88, #1ab841);
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.reg-form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


