.Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.reg-form {
    display: flex;
    flex-direction: column;
    background-color: #35373b;
    border: 1px thin black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
    width: 80%;
}
